.products{
    width: 20%;
  }

  select{
      outline: 0;
      background: #2c3e50;
      color: #fff;
      appearance: none;
      width: 15em;
      height: 3em;
      cursor: pointer;
      
      
  }
  @media screen and (max-width:1200px){
    .products{
        width: 100%;
      }
    
  }