.chart{
    width: 45%;
}

@media screen and (max-width:1200px){
    .chart{
       
       width: 70%;
       align-self: center;
    }
}

@media screen and (max-width:730px){
    .chart{
        width: 90%;
    }
}
